* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 247, 247);
}

#root {
  margin: 0 auto;
}
.countryContainer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  padding: 0 50px;
}

@media screen and (max-width:1318px) {
  .countryContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width:961px) {
  .countryContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:551px) {
  .countryContainer {
    grid-template-columns: 1fr;
  }
}


input {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  height: 45px;
  max-width: 250px;
  width: 100%;
  border: none;
  -webkit-box-shadow: 8px 8px 24px -11px rgba(222, 222, 222, 1);
  -moz-box-shadow: 8px 8px 24px -11px rgba(222, 222, 222, 1);
  box-shadow: 8px 8px 24px -11px rgba(222, 222, 222, 1);
  border-radius: 10px;
  padding-left: 10px;
}

